﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – find your music</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="col-md-3">
                <div class="navbar-header">
                    <div class="col-md-4">
                        @Html.ActionLink("MusicSearch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
            </div>
           
            <div class="col-md-5" style="margin-top: 10px">
                <h6>
                    @Html.ActionLink("Authors", "Index", "Authors")|
                    @Html.ActionLink("Albums", "Index", "Albums")
                </h6>
            </div>

            <div class="col-md-3">
                <div class="input-group">

                    @using (Html.BeginForm("Search", "User"))
                    { 

                        <div class="input-group" style="margin-top:10px">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Search for..." name="searchString">
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content" style="margin-bottom:0px">
        @RenderBody()
        <hr />
        <footer>
            <hr />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
