﻿@model IEnumerable<MyTestProject24.Models.User>


@{
    ViewBag.Title = "Index";
}



<h2></h2>
@Html.ActionLink("Create new Person", "Create")
<h3>People:</h3>


@foreach (var item in Model)
{
    <nav class="navbar" style="box-shadow: 0px 1px 2px rgba(0,0,0,0.6)">
        <div class="container-fluid">
                <div class="row">

                    <div class="col-md-1">
                        <img alt="Brand" src=@item.Avatar.ToString() width="64" height="64">
                    </div>

                    <div class="col-md-10">
                        <h4>  
                            @Html.ActionLink(@item.Name, "Profile",
                                new { id = item.UserID },
                                new { @class = "classname" })
                        </h4>
                    </div>

                    <div class="col-md-1">
                        <br />
                        @Html.ActionLink(".", "Delete", new { id = item.UserID }, new { @class = "glyphicon glyphicon-remove-circle" })
                    </div>

                </div>
        </div>
    </nav>


}




    