﻿@model MyTestProject24.Models.User

@{
    ViewBag.Title = Model.Name;
}
<div><br /></div>
<div class="row">
    <div class="col-md-3"> <img src=@Model.Avatar.ToString() alt="Photo" height="200" width="200" /> </div>
    <div class="col-md-4">
        <h3><p>Name : @Model.Name</p></h3>
        <h3><p>Homewtown : @Model.Hometown</p></h3>
    </div>
</div>

<h5> @Model.Name listened: </h5>
@foreach (var post in Model.Posts)
{
    <div>
        <p>
            
            <h8>@post.DataTime.ToShortDateString()</h8>
            <p>
                <h5>@post.Text</h5>
            </p>
        </p>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID })
    @Html.ActionLink("Back to List", "Index")
</p>
