﻿@model IEnumerable<MyTestProject24.Models.User>
@{
    ViewBag.Title = "Search";
}

<h2>We found for you:</h2>


<h3>Authors:</h3>
@if (ViewBag.authorList.Count == 0)
{
    <p>No authors</p>
}
@foreach (var author in ViewBag.authorList)
{
    <nav class="navbar" style="box-shadow: 0px 1px 2px rgba(0,0,0,0.6)">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-1">
                    <img alt="Brand" src=@author.Photo.ToString() width="64" height="64">
                </div>

                <div class="col-md-10">
                    <h4>
                        @{
                            string s = author.Name;
                            int authorId = author.AuthorID;
                        }
                        @Html.ActionLink(@s, "Profile", "Authors", new { id = authorId }, null)
                    </h4>
                </div>

            </div>
        </div>
    </nav>
}



<h3>Users:</h3>
@if (Model.Count() == 0)
{
    <p>No users</p>
}
@foreach (var item in Model)
{
    <nav class="navbar" style="box-shadow: 0px 1px 2px rgba(0,0,0,0.6)">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-1">
                    <img alt="Brand" src=@item.Avatar.ToString() width="64" height="64">
                </div>

                <div class="col-md-10">
                    <h4>
                        @Html.ActionLink(@item.Name, "Profile",
                                new { id = item.UserID },
                                new { @class = "classname" })
                    </h4>
                </div>

            </div>
        </div>
    </nav>
}




