﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"
     style="background-image:url(http://cache1.asset-cache.net/xd/183082406.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE480A4369085B1DC5CEF2B6A5D266AEA58DBB18C0F330958EBEFC49CB3FD18D54A74);
            background-size:contain" >


    <h1>MUSIC SEARCH</h1>
    <h2>WELCOME MY FRIEND!</h2>

    
    <p> <br /> </p>

</div>

<h4>
    This site is dedicated to music. Here you can find your favorite artist
    and all his albums
</h4>


