﻿@model IEnumerable<MyTestProject24.Models.Track>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Track
        </th>
        <th>
            Album
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrackID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrackID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrackID })
        </td>
    </tr>
}

</table>
