﻿@model IEnumerable<MyTestProject24.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Top authors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

            @Html.DisplayNameFor(model => model.Name)
 

    @foreach (var item in Model)
    {
        <nav class="navbar" style="box-shadow: 0px 1px 2px rgba(0,0,0,0.6)">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-1">
                        <img alt="Brand" src=@item.Photo width="64" height="64">
                    </div>
                    <div class="col-md-9">
                        <h4>
                            @Html.ActionLink(@item.Name, "Profile", new { id = item.AuthorID })
                        </h4>
                    </div>

                    <div class="col-md-2">
                            <br />
                            @Html.ActionLink(".", "Delete", new { id = item.AuthorID }, new { @class = "glyphicon glyphicon-remove-circle" })

                    </div>
                </div>
            </div>
        </nav>


    }


