﻿@model MyTestProject24.Models.Author

@{
    ViewBag.Title = Model.Name;
}


<h2>@Model.Name</h2>
<hr />





<div class="row">
    <div class="col-md-4">
        <div>

            <img src=@Model.Photo alt="Alternate Text" width="300" height="300" />
        </div>
        <div class="col-sm-4 col-md-12">
            @if (!@Model.Information.IsEmpty() && Model.Information.Length>1)
            {
                <h5>Biography</h5>
                <blockquote>
                    <p> @Model.Information  </p>
                    <small><cite title="Source Title">Wikipedia</cite></small>
                </blockquote>
            }


        </div>

    </div>
    <div class="col-md-8">
        <div class="row">

            <div>
                <div class="row">
                    @foreach (var album in Model.Albums)
                    {
                        <div class="col-sm-2 col-md-4 thumbnail">
                            <img src=@album.Image alt="..." width="204" height="204">
                            <div class="caption">
                                <nobr>
                                    <h4>
                                        @Html.ActionLink(@album.Name, "Details", "Albums",
                                                                new { id = album.AlbumID }, null)
                                    </h4>
                                </nobr>
                                <p>@album.Tracks.Count tracks</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>