﻿@model IEnumerable<MyTestProject24.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Top authors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-1">
                        <img alt="Brand" src=@item.Photo width="64" height="64">
                    </div>

                    <div class="col-md-9">
                        <h4>
                            @Html.ActionLink(@item.Name, "Profile", new { id = item.AuthorID })
                        </h4>
                    </div>

                    <div class="col-md-2">
                        @Html.ActionLink("Edit", "Edit", new { id = item.AuthorID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AuthorID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AuthorID })
                    </div>
                </div>
            </div>
        </nav>


    }


</table>
