﻿@model MyTestProject24.Models.Author

@{
    ViewBag.Title = Model.Name;
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <p>
                @Model.Name
            </p>
            <img src=@Model.Photo alt="Alternate Text" width="300" height="300" />
        </div>
        <div class="col-md-8">
            YELLO
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
