﻿@model MyTestProject24.Models.Album

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <h4>Author : @Html.ActionLink(@Model.Author.Name, "Profile", "Authors", new { id = Model.AuthorID }, null) </h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <br />
            <img src=@Model.Image alt="Alternate Text " width="215" height="215" />
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <h5>Tracklist:</h5>
                @foreach (var track in Model.Tracks)
                {
                    @Html.ActionLink(track.Name, "Details", new { id = Model.AlbumID, songId = track.TrackID }, new { @class = "list-group-item" })
                }
            </div>
        </div>

        <div class="col-md-5">
            <pre>@ViewBag.songLyrics</pre>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
