﻿@model IEnumerable<MyTestProject24.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@foreach (var item in Model)
{
    <nav class="navbar" style="box-shadow: 0px 1px 2px rgba(0,0,0,0.6)">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-1">
                    <img alt="Brand" src=@item.Image width="64" height="64">
                </div>
                <div class="col-md-3">
                    <h4>
                        @Html.ActionLink(@item.Name, "Details", new { id = item.AlbumID })
                    </h4>
                </div>

                <div class="col-md-4">
                    <h4>
                        @Html.ActionLink(@item.Author.Name, "Profile", "Authors", new { id = item.AuthorID }, null)
                    </h4>
                </div>

                <div class="col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID })
                </div>
            </div>
        </div>
    </nav>
}


